:root {
  --color-primary-50: 216 140 39; /* #d88c27 的 RGB 值 */
  --color-primary-100: 216 140 39;
  --color-primary-200: 216 140 39;
  --color-primary-300: 216 140 39;
  --color-primary-400: 216 140 39;
  --color-primary-500: 216 140 39;
  --color-primary-600: 216 140 39;
  --color-primary-700: 216 140 39;
  --color-primary-800: 216 140 39;
  --color-primary-900: 216 140 39;
  --color-primary-950: 216 140 39;
}
